h2 {
    color: #6366f1;
    margin-bottom: 20px;
}
.login-container {
    background-color: #1e293b;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    color: #94a3b8;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px;
    background-color: #0f172a;
    color: white;
    border: 1px solid #334155;
    border-radius: 5px;
}
.btn-primary {
    width: 100% !important;
    padding: 10px;
    background-color: #6366f1;
    margin-top: 10px;
}