<div class="description">
    <div class="card">
    <h3>Visuel</h3>
        <p>Reperer facilement vos jeux grace a un titre et une photo.</p>
    </div>
    <div class="card">
        <h3>Cathégorie</h3>
        <p>Répertoriez tous vos jeux PC et consoles.</p>
    </div>
    <div class="card">
        <h3>Statut</h3>
        <p>Suivez vos progrès : à faire, en cours ou terminé.</p>
    </div>
    <div class="card">
        <h3>Notation</h3>
        <p>Attribuez une note à vos expériences de jeu.</p>
    </div>
</div>