<div class="container mt-5" *ngIf="game">
    <div class="card shadow">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="game.coverImage || 'https://placehold.co/400x600?text=Pas+d+image'" class="img-fluid rounded-start" alt="cover">
            </div>  
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{ game.title }}</h1>
                    <p><strong>Statut :</strong> {{ game.status }}</p>
                    <p><strong>Temps de jeu :</strong> {{ game.playtime }} heures</p>                 
                    <p *ngIf="game.rating"><strong>Ma Note :</strong> {{ game.rating }} / 10</p>
                    <div class="mt-4">
                        <button class="btn btn-retour" routerLink="/admin">Retour à la liste</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
